<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.tpu.android.lab4"
    >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application>
        <activity android:name=".Lab4Activity" />
        <activity android:name=".add.AddStudentActivity" />


    </application>
</manifest>